AIRWAVE_HOST=0.0.0.0
AIRWAVE_PORT=8787
AIRWAVE_DB_PATH=/var/lib/airwave/airwave.db
AIRWAVE_MPV_COMMAND=/usr/bin/mpv
AIRWAVE_MPV_SOCKET=/run/airwave/mpv.sock
AIRWAVE_BLUETOOTHCTL_COMMAND=/usr/bin/bluetoothctl
AIRWAVE_UPDATE_REQUEST_PATH=/var/lib/airwave/update.request
AIRWAVE_UPDATE_STATUS_PATH=/var/lib/airwave/update.status.json
AIRWAVE_GPIO_CHIP=gpiochip0
AIRWAVE_GPIO_BIAS=pull-up
AIRWAVE_GPIO_BUTTONS='{"17":"toggle","27":"next","22":"volumeUp","23":"volumeDown"}'
